POSTGRES_DB=your-database
POSTGRES_USER=your-user-database
POSTGRES_PASSWORD=your-password-database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
GOOGLE_CLIENT_ID=secret-key
FACEBOOK_APP_ID=secret-key
EMAIL_HOST_USER=your-email
EMAIL_HOST_PASSWORD=your-email-password